/AttaqueException.class
/Board.class
/Case.class
/Consumable.class
/Dice.class
/Humanoides.class
/Item.class
/Professor.class
/Student.class
/Student_IUT.class
/Student_TC.class
/Student_TC_BDS.class
/Student_foreigners.class
/Weapon.class
